.app {
  text-align: center;
}

.page {
  text-align: center;
  margin-top: 100px;
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-form-container {
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ce4c9a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-form button:hover {
  background-color: #bb3e89;
}

.sign-up {
  color: #71104c;
  text-decoration: none;
}

.sign-up:hover {
  text-decoration: underline;
}

.log-in:hover {
  text-decoration: underline;
}

.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.signup-form-container {
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 25px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-form button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ce4c9a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.signup-form button:hover {
  background-color: #bb3e89;
}

.signup-form a:hover {
  text-decoration: underline;
}
.signup-form-container h2 {
  margin-bottom: 20px;
  color: #333333;
}

.login-form-container h2 {
  margin-bottom: 20px;
  color: #333333;
}

.line-div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.line-div hr {
  border: 0;
  border-top: 2px solid #dddddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eae1e6;
  padding: 1px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
}

.login a {
  text-decoration: none;
  padding: 10px;
}

.log-in {
  margin-right: 70px;
  color: #71104c;
}

.avatar-container {
  margin-right: 70px;
}

.logo {
  margin-left: 40px;
  color: #71104c;
  text-decoration: none;
}

.login {
  color: #71104c;
}

/* ======================== */

.log-out-button {
  background-color: #ce4c9a;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 15px;
}

.log-out-button:hover {
  background-color: #bb3e89;
}

.log-out-button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

/* Animations */
.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ad-view-container {
  border: 1.5px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 30px;
  background-color: #f9f9f9;
}

.ad-view-container h2 {
  font-family: "Montserrat", sans-serif;
  color: #71104c;
}

.user-page-container {
  border: 1.5px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 30px;
  background-color: #f9f9f9;
}


.my-ads-link {
  margin-top: 30px;
  margin-bottom: 20px;
}

.my-ads-link a,
.user-settings-link a {
  text-decoration: none; 
  color: #333; 
  font-size: 16px; 
}

.my-ads-link a:hover,
.user-settings-link a:hover {
  color: #666; 
  text-decoration: underline;
}
