.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; 
  padding: 1px 20px; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.login {
  margin-right: 70px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px; 
  background-color: rgb(247, 247, 249);
  padding: 20px;
  box-sizing: border-box; /* Include padding in the width */
  z-index: 900; 
  text-align: center;
}

.side-menu-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu-li {
  margin: 20px
}

.side-menu-first {
  margin-top: 80px;
}

.page {
  margin-left: 150px; 
  margin-top: 80px; 
  padding: 20px; 
  box-sizing: border-box; 
}

.app {
  display: flex;
}

.page {
  flex-grow: 1;
}

.search-bar-container {
  border: 1px solid #eee;
  padding: 15px;
}